---
---

@import "{{ site.theme }}";

header {
  nav {
    margin-bottom: 40px;

    ul {
      border: none;
      background: inherit;
      height: inherit;

      li {
        border: none;
        float: none;
        height: inherit;
        width: inherit !important;

        a {
          color: #267CB9;
          display: inherit;
          font-size: 16px;
          height: inherit;
          padding: 0 0 8px;
          text-align: inherit;
        }
      }
    }
  }
}